body{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.title{
    font-size: 40px;
    align-items: center;
}

.container{
    margin-top: 60px;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
/*
.btn{
    margin-left: 50%;
    margin-right: 50%;
}
*/
